
<!-- Swimlanes front end -->

<!-- <button id="say-hello">Say hello</button> -->

<section id="swimlanes-settings" style="background-color:white">
  <menu></menu>
  <table>
    <caption>Recent updates</caption>
    <thead>
      <tr>
        <th>Pool/Lane/Swim</th>
        <th>Name</th>
        <th>Moved</th>
        <th>Who</th>
        <th>When</th>
      </tr>
    </thead>
    <tbody id="swimlanes-updates">
    </tbody>
  </table>
</section>

<section id="swimpool" class="nugget">

  <form id="toolbar"></form>

</section>

<section class="splits">
  <div class="x-1"></div>
  <div class="x-2"></div>
  <div class="x-3"></div>
  <div class="x-4"></div>
  <div class="x-5"></div>
  <div class="x-6"></div>
  <div class="x-7"></div>
  <div class="x-8"></div>
  <div class="x-9"></div>
  <div class="x-10"></div>
  <div class="y">
    <div class="y-1"></div>
    <div class="y-2"></div>
    <div class="y-3"></div>
    <div class="y-4"></div>
    <div class="y-5"></div>
  </div>
</section>

