
<!-- Swimlanes front end -->

<button id="actors-test">Test use of Enforcer::actors()</button>

<section id="swimlanes-settings" style="background-color:white">
  <menu></menu>
  <form>
    <span class="save">
      <input id="db_store" type="checkbox" name="db_store" />
      <label for="db_store">Store these settings</label>
    </span>
    <input name="db_user" title="Facilitates seamless Adminer linking" placeholder="SQL user" />
    <input id="db_use_suffix" type="checkbox" name="db_use_suffix" />
    <label for="db_use_suffix">Use one DB per pool</label>
    <input name="db_name" title="Usually ezproject" value="ezproject" />
    <input readonly name="db_suffix" />
  </form>
  <table>
    <caption>Recent updates</caption>
    <thead>
      <tr>
        <th>Pool/Lane/Swim</th>
        <th>Name</th>
        <th>Moved</th>
        <th>Gone</th>
        <th>Who</th>
        <th>When</th>
      </tr>
    </thead>
    <tbody id="swimlanes-updates">
    </tbody>
  </table>
</section>

<section id="swimpool" class="nugget">

  <form id="toolbar"></form>

</section>

<section class="splits">
  <div class="x-1"></div>
  <div class="x-2"></div>
  <div class="x-3"></div>
  <div class="x-4"></div>
  <div class="x-5"></div>
  <div class="x-6"></div>
  <div class="x-7"></div>
  <div class="x-8"></div>
  <div class="x-9"></div>
  <div class="x-10"></div>
  <div class="y">
    <div class="y-1"></div>
    <div class="y-2"></div>
    <div class="y-3"></div>
    <div class="y-4"></div>
    <div class="y-5"></div>
  </div>
</section>

